.l-page {
    max-width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer"
}

@include mq-up("pc") {
    .l-page {
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
            "header header"
            "main sidebar"
            "footer footer"
    }
}
