<div class="c-itembox p-itembox d-itembox">
            <div class="c-itembox__label p-itembox__label">カテゴリー</div>
            <ul class="c-itembox__body">
                <li><a href="#">カテゴリーカテゴリーカテゴリーカテゴリーカテゴリー</a></li>
                <li><a href="#">カテ カテ カテ カテ カテ カテ カテ カテ カテ カテ </a></li>
                <li>
                    <a href="#">
                        ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ
                        ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ ゴリ
                    </a>
                </li>
            </ul>
        </div>
