<div class="c-itembox p-itembox d-itembox">
    <div class="c-itembox__label p-itembox__label">サイト情報</div>
    <ul class="c-itembox__body">
        <li><a href="#">更新履歴</a></li>
        <li><a href="#">このサイトについて</a></li>
        <li><a href="#">サイトマップ</a></li>
    </ul>
</div>