@use "foundation/defs";

/* margin default */
.u-mt {
    margin-top: defs.$margin-default;
}
.u-mr {
    margin-right: defs.$margin-default;
}
.u-mb {
    margin-bottom: defs.$margin-default;
}
.u-ml {
    margin-left: defs.$margin-default;
}
.u-mtb {
    margin-top: defs.$margin-default;
    margin-bottom: defs.$margin-default;
}
.u-mrl {
    margin-right: defs.$margin-default;
    margin-left: defs.$margin-default;
}
.u-mtb-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.u-mrl-auto {
    margin-right: auto;
    margin-left: auto;
}

/* padding default */
.u-pt {
    padding-top: defs.$padding-default;
}
.u-pr {
    padding-right: defs.$padding-default;
}
.u-pb {
    padding-bottom: defs.$padding-default;
}
.u-pl {
    padding-left: defs.$padding-default;
}
.u-ptb {
    padding-top: defs.$padding-default;
    padding-bottom: defs.$padding-default;
}
.u-prl {
    padding-right: defs.$padding-default;
    padding-left: defs.$padding-default;
}

$_sp_step: 5;

@for $_i from 0 through 6 {
    /* margin */
    .u-mt#{$_i * $_sp_step} {
        margin-top: #{$_i * $_sp_step}px;
    }
    .u-mr#{$_i * $_sp_step} {
        margin-right: #{$_i * $_sp_step}px;
    }
    .u-mb#{$_i * $_sp_step} {
        margin-bottom: #{$_i * $_sp_step}px;
    }
    .u-ml#{$_i * $_sp_step} {
        margin-left: #{$_i * $_sp_step}px;
    }
    .u-mtb#{$_i * $_sp_step} {
        margin-top: #{$_i * $_sp_step}px;
        margin-bottom: #{$_i * $_sp_step}px;
    }
    .u-mrl#{$_i * $_sp_step} {
        margin-right: #{$_i * $_sp_step}px;
        margin-left: #{$_i * $_sp_step}px;
    }

    /* padding */
    .u-pt#{$_i * $_sp_step} {
        padding-top: #{$_i * $_sp_step}px;
    }
    .u-pr#{$_i * $_sp_step} {
        padding-right: #{$_i * $_sp_step}px;
    }
    .u-pb#{$_i * $_sp_step} {
        padding-bottom: #{$_i * $_sp_step}px;
    }
    .u-pl#{$_i * $_sp_step} {
        padding-left: #{$_i * $_sp_step}px;
    }
    .u-ptb#{$_i * $_sp_step} {
        padding-top: #{$_i * $_sp_step}px;
        padding-bottom: #{$_i * $_sp_step}px;
    }
    .u-prl#{$_i * $_sp_step} {
        padding-right: #{$_i * $_sp_step}px;
        padding-left: #{$_i * $_sp_step}px;
    }
}
