@use "foundation/defs";

/* margin default */
.u-mt {
    margin-top: defs.$margin-default;
}
.u-mr {
    margin-right: defs.$margin-default;
}
.u-mb {
    margin-bottom: defs.$margin-default;
}
.u-ml {
    margin-left: defs.$margin-default;
}
.u-mtb {
    margin-top: defs.$margin-default;
    margin-bottom: defs.$margin-default;
}
.u-mrl {
    margin-right: defs.$margin-default;
    margin-left: defs.$margin-default;
}
.u-mtb-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.u-mrl-auto {
    margin-right: auto;
    margin-left: auto;
}

/* padding default */
.u-pt {
    padding-top: defs.$padding-default;
}
.u-pr {
    padding-right: defs.$padding-default;
}
.u-pb {
    padding-bottom: defs.$padding-default;
}
.u-pl {
    padding-left: defs.$padding-default;
}
.u-ptb {
    padding-top: defs.$padding-default;
    padding-bottom: defs.$padding-default;
}
.u-prl {
    padding-right: defs.$padding-default;
    padding-left: defs.$padding-default;
}

$sp-step: 5;

@for $i from 0 through 6 {
    /* margin */
    .u-mt#{$i * $sp-step} {
        margin-top: #{$i * $sp-step}px;
    }
    .u-mr#{$i * $sp-step} {
        margin-right: #{$i * $sp-step}px;
    }
    .u-mb#{$i * $sp-step} {
        margin-bottom: #{$i * $sp-step}px;
    }
    .u-ml#{$i * $sp-step} {
        margin-left: #{$i * $sp-step}px;
    }
    .u-mtb#{$i * $sp-step} {
        margin-top: #{$i * $sp-step}px;
        margin-bottom: #{$i * $sp-step}px;
    }
    .u-mrl#{$i * $sp-step} {
        margin-right: #{$i * $sp-step}px;
        margin-left: #{$i * $sp-step}px;
    }

    /* padding */
    .u-pt#{$i * $sp-step} {
        padding-top: #{$i * $sp-step}px;
    }
    .u-pr#{$i * $sp-step} {
        padding-right: #{$i * $sp-step}px;
    }
    .u-pb#{$i * $sp-step} {
        padding-bottom: #{$i * $sp-step}px;
    }
    .u-pl#{$i * $sp-step} {
        padding-left: #{$i * $sp-step}px;
    }
    .u-ptb#{$i * $sp-step} {
        padding-top: #{$i * $sp-step}px;
        padding-bottom: #{$i * $sp-step}px;
    }
    .u-prl#{$i * $sp-step} {
        padding-right: #{$i * $sp-step}px;
        padding-left: #{$i * $sp-step}px;
    }
}
