@use "foundation/defs";
@use "extend";

%c-itemize--base {
    margin-left: 2.0em;
    margin-right: 1.0em;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.c-itemize {
    @extend %c-itemize--base;
    > li {
        @extend %c-itemize__item--disc;
    }
}

.c-itemize--disc {
    @extend .c-itemize;
}

.c-itemize--hyphen {
    @extend .c-itemize;
    > li {
        @extend %c-itemize__item--hyphen;
    }
}

// マーカーなし
.c-itemize--nomark {
    @extend %c-itemize--base;
    margin-left: 1.0em;
    list-style: none;
}

.c-itemize--decimal {
    @extend %c-itemize--base;
}

// 丸括弧付きの数字
.c-itemize--roundbrackets {
    margin-left: 0;
    li {
        list-style-type: none;
        position: relative;
        counter-increment: cnt;

        &::before {
            content: "(" counter(cnt) ") ";
            display: inline-block;
            margin-left: -3.5em;
            width: 3em;
            text-align: right;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

%c-itemize__item--disc {
    @extend %c-itemize__item;
}

%c-itemize__item--hyphen {
    @extend %c-itemize__item;
    &::before {
        content: "-";
        margin-left: -1.7em;
    }
}

/* 行末を三点リーダーで処理して一行に収める (実験用) */
%c-itemize__item--sl {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
