@use "foundation/defs";

.l-footer {
    height: defs.$footer-height-sp;
}

@include defs.mq-up("pc") {
    .l-footer {
        height: defs.$footer-height-pc;
        margin-bottom: defs.$margin-default;
    }
}
