@use "foundation/defs";

.l-header {
    height: defs.$header-height-sp;
}

@include defs.mq-up("pc") {
    .l-header {
        height: defs.$header-height-pc;
        margin-top: defs.$margin-default;
    }
}
