@use "foundation/defs";

.l-main {
    padding-right: defs.$padding-default;
    padding-left: defs.$padding-default;

    display: flex;
    flex-direction: column;
    row-gap: defs.$margin-default;
}

@include defs.mq-up("pc") {
    .l-main {
        flex: 1;
        padding-right: 0;
    }
}
