.l-main {
    grid-area: main;
    padding-right: $padding-default;
    padding-left: $padding-default;

    display: grid;
    grid-gap: $margin-default;
    grid-template-columns: 1fr;
}

@include mq-up("pc") {
    .l-main {
        padding-right: 0;
    }
}
