@use "foundation/defs";

.l-page {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;

    display: grid;
    grid-gap: defs.$margin-default;
    align-items: start;    /* これを指定しないとメインとサイドバーの高さを無理やり合わせにくる */
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "sidebar"
        "footer"
}

@include defs.mq-up("pc") {
    .l-page {
        max-width: defs.$layout-width-max;
        column-gap: defs.$margin-default * 1.5;
        grid-template-columns: 1fr defs.$sidebar-width-pc;
        grid-template-areas:
            "header header"
            "main sidebar"
            "footer footer"
    }
}

@media print {
    .l-page {
        max-width: defs.$print-width;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer"
    }
}
