@use "foundation/defs";

.l-page {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@include defs.mq-up("pc") {
    .l-page {
        max-width: defs.$layout-width-max;
    }
}

@media print {
    .l-page {
        max-width: defs.$print-width;
    }
}
