@use "foundation/defs";

.l-sidebar {
    grid-area: sidebar;
    padding-right: defs.$padding-default;
    padding-left: defs.$padding-default;

    display: grid;
    grid-gap: defs.$margin-default;
    grid-template-columns: 1fr;
}

@include defs.mq-up("pc") {
    .l-sidebar {
        padding-right: 0;
        padding-left: 0;
    }
}

@media print {
    .l-sidebar {
        display: none;
    }
}
