.l-sidebar {
    grid-area: sidebar;
    padding-right: $padding-default;
    padding-left: $padding-default;

    display: grid;
    grid-gap: $margin-default;
    grid-template-columns: 1fr;
}

@include mq-up("pc") {
    .l-sidebar {
        padding-right: 0;
        padding-left: 0;
    }
}

@media print {
    .l-sidebar {
        display: none;
    }
}
