.p-itembox {
    border-color: $site-color-bg;
}

/* サイドバー用の itembox (実験用) */
.p-itembox-sb {
    @extend .p-itembox;
    @include mq-up("pc") {
        /* flexbox で行末を三点リーダー処理したい場合は
           固定幅を指定しないとうまくいかないようだ？ */
        width: $sidebar-width-pc;
    }
}

.p-itembox__label {
    background-color: $site-color-bg;
    color: $site-color-fg;
}
