.p-artheader {
}

.p-nav {
    ol {
        margin: 0;
        padding-left: 0;
        list-style: none;
        li {
            display: inline;
            &::after {
                content: ">";
                padding-left: .5rem;
                padding-right: .1rem;
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
}

.p-headline {
    font-size: 2.5rem;
}

.p-toc {
    margin: 0 $margin-default;
}

.p-toc__label {
    font-size: 1.5rem;
}

.p-toc__body {
}

.p-section__body {
    margin-top: 5px;
}


.p-artfooter {
    border-to: solid 2px $site-color-bg;
    padding-top: 5px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-goto-arttop {
    padding: 0 10px 0 30px;
}

.p-date {
    font-size: 1.3rem;
    color: $font-color-light;
}
