@use "foundation/defs";

.p-adbox-sp {
    display: block;
}

.p-adbox-pc {
    display: none;
}

@include defs.mq-up("pc") {
    .p-adbox-sp {
        display: none;
    }

    .p-adbox-pc {
        display: block;
    }
}
