@use "foundation/defs";

.p-header {
    background: defs.$site-color;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.p-header__title {
    font-size: 2.5rem;
    margin-right: auto;
    margin-left: auto;
    a {
        color: defs.$site-color-fg;
    }
}

@include defs.mq-up("pc") {
    .p-header {
        height: defs.$header-height-pc;
        padding-left: 20px;
    }

    .p-header__title {
        margin-right: 0;
        margin-left: 0;
    }
}
