<div>
    <div class="p-date u-mt d-date">
        <%= $.w3tojp(article.release, "公開日: "); %><!--
        --><%= $.w3tojp(article.lastmod, " / 最終更新日: "); %>
    </div>

    <h2 class="p-headline"><%- article.title %></h2>
</div>
