<%_ let cat = undefined; _%>
<%_ if (Object.hasOwn(me, "category")) cat = me.category; _%>
<%_ if (Object.hasOwn(me, "title")) me = me.title; _%>
<nav class="p-nav d-nav">
    <ol>
        <li><a href="<%- $.join($.path.toRoot, 'index.html'); %>">Home</a></li>
        <%_ if (cat) { _%>
        <li><a href="<%- $.join($.path.toRoot, 'index.html#') + cat.key; %>"><%- cat.name %></a></li>
        <%_ } _%>
        <li><%- me %></li>
    </ol>
</nav>