<div class="c-itembox p-itembox _STICKY d-itembox">
    <div class="c-itembox__label p-itembox__label">新しめの記事</div>
    <ul class="c-itembox__body">
        <%_ for (const e of $.newEntries) { _%>
            <li><a href="<%- $.join($.path.toRoot, e.category.dirname, e.fname); %>"><%- e.title %></a></li>
        <%_ } _%>
    </ul>
</div>
